{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sistema Contable</h1>
    
    {% if is_granted("ROLE_ADMIN") %}
        <br>
        <a class="btn btn-primary btn-lg" href="{{path('customer_index')}}"><span class="glyphicon glyphicon-user"></span> Clientes</a>
    {% endif %}
         
     
{% endblock %}
