{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nuevo Pedido</h1>

    {#<div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Nombre/CUIT/DNI de Cliente</label>
            <div class="col-sm-6">
                <input class="form-control" id="customer-search" type="text"/>
            </div>
            <div class="col-sm-4">
                <input type="button" class="btn btn-default"  value="Buscar"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-4">
                <select id="results" class="selectpicker" data-live-search="true" style="display:none">
                </select>
            </div>
            <div class="col-sm-6">
                <select class="js-data-example-ajax">
                    <option value="" selected="selected">Ingrese Nombre/CUIT/DNI Cliente</option>
                </select>
            </div>
        </div>
    </div>#}
    
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('purchaseorder_index') }}">Back to the list</a>
        </li>
    </ul>

{% endblock %}